<div th:fragment="addGameElement" id="addGameElement">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="addGame">
      <div class="w-100">
        <h2 class="mb-5">Game Form</h2>
   		<!--<form action="#" th:action="@{/games-api}"
            th:object="${game}" method="POST">-->
            <form *ngIf="gameForm" [formGroup]="gameForm">
            <!-- Add hidden form field to handle update -->
            <!--
			<input type="hidden" value="{{game.id}}" />
			<input type="text" value="{{game.title}}"
				class="form-control mb-4 col-4" placeholder="Title">	
			<input type="text" value="{{game.year}}"
                class="form-control mb-4 col-4" placeholder="Year">	-->
                <input type="hidden" formControlName="id" />
                <input type="text" formControlName="title"
                    class="form-control mb-4 col-4" placeholder="Title">	
                <input type="text" formControlName="year"
                    class="form-control mb-4 col-4" placeholder="Year">
            <button type="submit" class="btn btn-info col-1 mr-1" (click)="submit()">Save</button>
            <a routerLink="/" class="btn btn-danger col-1">Cancel</a>
		</form> 
	</div>
	</section>
</div>